<!--                               Hospital Home page                           -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
      <link rel="stylesheet" href="/style.css"> 

</head>
<body>
    <div class="home-container">
         <h1><%= title %></h1>
         <div  class="home-links">
            <a href="/patients">Patient List</a>
            <a href="/doctors">Doctor List</a>
         </div>
    </div>
</body>
</html>