<!--                            student-form-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>
       <!-- Page Heading -->
    <h1>Add a new Student</h1>

      <!-- Form to submit student details -->
    <form action="/students/add" method="post">

     <!-- Student name Input -->
    <label>Name: <input type="text" name="name" required></label>
    <br>
    <br>

    <!-- Student Grade Input -->
    <label>Grade: <input type="number" name="grade" required></label>
    <br>
    <br>
    <!--Submit Button-->
    <button type="submit">Add Student</button>

      

    </form>
    
</body>
</html>