<!--                 teachers.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
    <link rel="stylesheet" href="/style.css" />

</head>
<body>
     <!-- Page Title using dynamic title from server -->
    <h1> <%= title %> </h1>

    <!-- Link to add a new teacher -->
    <a class="add-btn" href="/teachers/add">+ Add Teacher</a>

    <!-- List of teachers -->
    <ul class = "list">

        <!-- Loop through each teacher in the teachers array -->
       <% teachers.forEach(t =>{ %> 

        <!-- Each teacher displayed as a clickable link that goes to their details page -->
        <li><a href = "/teachers/<%= t.id %>" > <%= t.name %> </a> - Subject:<%= t.subject %>  </li>
      <% }) %>
    </ul>

    <!-- Link back to the home page -->
    <a class="back" href="/" >← Back to Home </a>
</body>
</html>