<!--                       Detail of a single doctor-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Doctor</title>
    <link rel="stylesheet" href="/style.css"> 

</head>
<body>
  <div class="Detail-card">
    <h1>Details of <%= doctor.name  %></h1>
    <strong>
            <p> ID: <%= doctor.id %> </p>
           <p> Specialization: <%= doctor.specialization %></p>
    </strong>
              <a href="/">← Back to doctor list</a>

</div>
</body>
</html>