<!--                home.ejs-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
      <div class="home-container">

          <!-- Displays the 'title' on the page as a heading -->
         <h1><%= title %></h1>

        <div class="home-links">
          <!-- Link to view all students -->
         <a href="/students">Students List</a>

         <!-- Link to view all teachers -->
         <a href="/teachers">Teachers List</a>
        </div>
      </div>

</body>
</html>
