<!--                            teacher-form-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>
     <!--Page heading-->
    <h1>Add a new Teacher</h1>

      <!-- Form to submit teacher details -->
    <form action="/teachers/add" method="post">
    
     <!-- Teacher name Input -->
    <label>Name: <input type="text" name="name" required></label>
    <br>
    <br>

    <!-- Teacher Subject Input -->
    <label>Subject: <input type="text" name="subject" required></label>
    <br>
    <br>

    <!--Submit button-->
    <button type="submit">Add Teacher</button>

      

    </form>
    
</body>
</html>