<!--                 students.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
    <link rel="stylesheet" href="/style.css" />

</head>
<body>
        <!-- Page Title using dynamic title from server -->
    <h1> <%= title %> </h1>

        <!-- Link to add a new student -->
    <a class="add-btn" href="/students/add">+ Add Student</a>

        <!-- List of students -->
    <ul class = "list">

        <!-- Loop through each student in the students array -->
       <% students.forEach(s =>{ %> 

        <!-- Each student displayed as a clickable link that goes to their details page -->
        <li><a href = "/students/<%= s.id %>" > <%= s.name %> </a> - Grade:<%= s.grade %>  </li>
      <% }) %>
    </ul>

        <!-- Link back to the home page -->
    <a class="back" href="/" >← Back to Home </a>
</body>
</html>